/* Estilos Globais */
* {
    box-sizing: border-box; /* Inclui padding e border nas dimensões */
}

body {
    font-family: 'Roboto', sans-serif; /* Uso de fonte padrão */
    margin: 0;
    padding: 20px;
    background-color: #f0f4f8; /* Fundo levemente azulado */
    color: #000000; /* Cor padrão do texto */
}

h2 {
    text-align: center;
    color: black; /* Cor mais escura para o cabeçalho */
    font-weight: 700; /* Negrito */
}

/* Estilos do contêiner das equipes */
.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 20px; /* Margem superior e inferior */
    width: 100%;
}

/* Estilos do contêiner de campos */
.fields-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #bdc3c7; /* Borda sutil */
    border-radius: 8px;
    background-color: #ffffff; /* Fundo branco */
    max-height: 400px; /* Altura máxima */
    overflow-y: auto; /* Permite rolagem vertical */
}

/* Estilos dos campos */
#fields {
    display: flex;
    width: 100%;
}

#fields-home,
#fields-away {
    flex: 1;
    margin: 0 20px; /* Margem lateral para os campos */
}

.field-container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label.team-name {
    display: block;
    font-weight: bold; 
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

/* Estilos de input de número */
input[type="number"] {
    width: 100%; /* Ocupa toda a largura */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid #bdc3c7; /* Borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Define o texto do input como negrito */
    transition: border-color 0.3s; /* Transição suave de cor */
}

input[type="number"]:focus {
    border-color: #3498db; /* Cor ao focar */
    outline: none; /* Remove o contorno padrão */
}

/* Estilos do placeholder */
input[type="number"]::placeholder {
    color: #bdc3c7; /* Cor do placeholder */
    opacity: 1; /* Garantir que a opacidade seja 1 para o placeholder */
}

/* Estilos do botão calcular */
.calcular-btn {
    background-color: #2980b9; /* Cor de fundo do botão */
    color: #ffffff; /* Texto branco */
    border: none; /* Sem borda */
    padding: 15px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza texto */
    text-decoration: none; /* Remove sublinhado */
    display: block; /* Exibe como bloco */
    font-size: 18px; /* Tamanho da fonte */
    margin: 20px auto; /* Margem automática para centralizar */
    cursor: pointer; /* Cursor pointer */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave */
}

.calcular-btn:hover {
    background-color: #1a5276; /* Cor mais escura ao passar o mouse */
}

/* Estilos do contêiner de resultados */
.result-container {
    margin-top: 20px; /* Margem superior */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: none; /* Inicialmente oculto */
    transition: all 0.3s ease; 
}

/* Estilos das colunas dos resultados */
.results-grid {
    display: flex; /* Flexbox para as colunas */
    justify-content: space-around; /* Espaça as colunas */
}

.results-column {
    flex: 1; /* Cada coluna ocupa espaço igual */
    margin: 10px; /* Margem entre as colunas */
    background-color: #ecf0f1; /* Fundo em cinza claro */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s;
    text-align: center; /* Centraliza o texto horizontalmente */
    font-weight: bolder;
}

/* Estilo das linhas dos resultados */
.results-column p {
    border-top: 1px solid #bdc3c7; /* Linha superior separadora */
    padding: 10px 0; /* Espaçamento interno */
    margin: 5px 0; /* Margem vertical entre as linhas */
    text-align: center; /* Centraliza o texto dentro do parágrafo */
    color: black;
}

/* Remove a linha superior do primeiro item */
.results-column p:first-child {
    border-top: none;
}

/* Efeitos de hover nas colunas */
.results-column:hover {
    transform: scale(1.02); /* Efeito de aumento ao passar o mouse */
}

/* Estilos do contêiner de progresso */
.progress-container {
    width: 80%; /* Largura do contêiner de progresso */
    max-width: 600px; /* Largura máxima */
    height: 20px; /* Altura do contêiner */
    background-color: #e0e0e0; /* Cor de fundo */
    border-radius: 5px; /* Bordas arredondadas */
    position: absolute; /* Posição absoluta */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Corrige a centralização */
    display: flex; /* Exibe como flex */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

/* Estilos da barra de progresso */
.progress-bar {
    height: 100%; /* Altura total */
    width: 0; /* Largura inicial */
    background-color: #3498db; /* Cor da barra de progresso */
    border-radius: 5px; /* Bordas arredondadas */
    transition: width 0.3s ease; /* Transição suave */
}

/* Estilos para o texto da barra de progresso */
#progress-text {
    position: absolute; /* Posição absoluta */
    left: 50%; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    transform: translate(-50%, -50%); /* Corrige a centralização */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-weight: bold; /* Negrito */
}

/* Estilos do contêiner de seleção */
.select-container {
    display: flex; /* Exibe como flex */
    justify-content: center; /* Centraliza os elementos */
    margin-top: 20px; /* Margem superior */
}

/* Estilos do rótulo do dropdown */
.dropdown-label {
    font-size: 1.3em; /* Tamanho da fonte padrão */
    color: #000000; /* Cor do texto */
    margin-right: 10px; /* Margem à direita */
    font-weight: bold; /* Negrito */
    margin-top: 5px;
}

/* Adicionando consulta de mídia para dispositivos móveis */
@media (max-width: 600px) {
    .dropdown-label {
        font-size: 17px; /* Reduz o tamanho da fonte na versão mobile */
        margin-top: 10px; /* Adiciona margem superior para descer apenas o texto */
    }
    .field-container label.team-name {
        font-size: 14px; /* Reduz o tamanho da fonte do texto "Total de escanteios na partida" */
    }
    input[type="number"]::placeholder {
        font-size: 11px; /* Reduz o tamanho da fonte do placeholder na versão mobile */
        color: #bdc3c7; /* Cor do placeholder */
        opacity: 1; /* Mantém a opacidade do placeholder */
    }

    /* Reduzir o tamanho da fonte dos resultados na versão mobile */
    .results-column p {
        font-size: 14px; /* Ajuste o valor conforme necessário */
    }
}

/* Estilos do dropdown */
.styled-dropdown {
    font-size: 1em; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid #bdc3c7; /* Borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #fff; /* Fundo branco */
    color: #000; /* Cor do texto */
    transition: border-color 0.3s; /* Transição suave */
    font-weight: bold; /* Negrito */
}

.styled-dropdown option {
    font-weight: bold; /* Negrito */
    color: #000; /* Cor do texto */
}

/* Efeitos de hover nos dropdowns */
.styled-dropdown:hover {
    border-color: #007BFF; /* Muda a cor da borda ao passar o mouse */
}

.styled-dropdown:focus {
    border-color: #0056b3; /* Cor da borda ao focar */
    outline: none; /* Remove contorno padrão */
}

/* Estilos do botão Voltar */
.button-container {
    display: flex;
    justify-content: center; /* Centraliza o botão */
    margin-top: 20px; /* Margem superior */
}

.voltar-btn {
    background-color: #2980B9; /* Cor de fundo do botão */
    color: #ffffff; /* Texto branco */
    border: none; /* Sem borda */
    padding: 15px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza texto */
    text-decoration: none; /* Remove sublinhado */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor pointer */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave */
    display: none; /* Inicialmente oculto */
    font-family: "Protest Guerrilla", sans-serif; /* Aplica a fonte Protest Guerrilla */
}

.voltar-btn:hover {
    background-color: #1a5276; /* Cor mais escura ao passar o mouse */
}